body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: aqua;
    background: url(https://i.pinimg.com/originals/16/57/a4/1657a47bdb3f173374a63f5a51422521.jpg) bottom no-repeat; 
    background-size: cover;
}

h1 {
    color: #61D7A4;
    font-size: 5rem;
    font-family: 'Calibri light' , Times, serif;

}